.cardContainer {
  display: flex;
  height: 330px;
  width: 250px;
  box-shadow: 0 0 2px 2px gray;
  margin: 2%;
  padding: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgContainer {
  flex: 1;
}

.imgContainer img {
  object-fit: contain;
  width: 150px;
  height: 150px;
}

.itemInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.price {
  color: #bbb;
  text-align: center;
  margin-top: 5px;
  cursor: pointer;
}

.price:hover {
  color: red;
  cursor: pointer;
}

.addbtn {
  background: magenta;
  color: black;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.addbtn:hover {
  background: rgb(47, 255, 116);
  color: whitergb(255, 47, 141)
}
